body{
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  }

  
  
  nav{
    color:black;
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    display: flex;
    justify-content: space-between;
    
    top:0%;
    width:100%;
  }
  
  a{
    text-decoration: none;
    color:black;
  
  }
  
  a:hover{
    transition: scale(2);
  }
  
  nav > h1 {
    font-size: 2.5em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 3em;
    padding-top: 1em;
    
  }
  
  ul{
    list-style: none;
    display: flex;
  }
  
  li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em;
    transition: 0.2s;
   
  }
  
  li:hover{
    transform: scale(1.2);
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    background-color: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  }
  
  section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);;
  }
  
  
  
  .content{
    color: antiquewhite;
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
  }
  
  .content .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .content .text-box{
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid  rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
  }
  
  .content .text-box h3{
    font-size: 2em;
    margin-bottom: 10px;
  }

  h1{
    position: relative;
    font-size: 10em;
    letter-spacing: 10px;
    color: black;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    
    line-height: 0.70em;
    outline:none;
    animation: animate 2s linear infinite;
  }
  
  @keyframes animate {
    0%{
        color: black;
        text-shadow: none;
    }
    100%{
        color: black;
        text-shadow: 0 0 10px rgb(65, 4, 26),
        0 0 20px rgb(65, 4, 26),
        0 0 40px rgb(65, 4, 26),
        0 0 80px whitesmoke,
        0 0 160px whitesmoke;
    }
    
  }